<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/end.ejs') %>
    <main>
        <% if(cart.length>0){ %>
            
            <ul>
            <% for(let product of cart){ %> 
                <li>
                    <p> <%= product.id %> </p>
                    <p> <%= product.title %></p>
                    <p> <%= product.description %></p>
                    <img src="<%=product.imageUrl%>"/>
                    <p> <%= product.qty %> x <%= product.price %> = <%= product.qty*product.price %> </p>
                    <form action="/cart/delete/" method="POST">
                        <input type="hidden" value="<%= product.id %>" name="productId"/>
                        <input type="hidden" value="<%= product.price %>" name="price"/>
                        <button type="submit">delete</button>
                    </form>
                </li>
                
            <% } %>
            </ul>
            <p>Price : <%= totalPrice %>€</p>
        <% }else{ %>
            <h1>No Product in cart ! </h1>
        <% } %>
    </main>